<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--redirection des logs vers la sortir Console Standard -->
		
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>app.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -APP.LOG %msg%n</Pattern>
        </layout>
	</appender>
	
	
	<appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -TP LOGGING %msg%n</Pattern>
        </layout>
    </appender>
    <logger name="dev.console" level="INFO">
		<appender-ref ref="FILE" />
	</logger>
	<!--regle de logs par defaut. Ici : niveau INFO vers la sortie standard -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>